@page
@model ResaTicket.Pages.Cinemas_Paiements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cinema_Paiement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema_Paiement.TCinema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema_Paiement.TCinema.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cinema_Paiement.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
