@page
@model ResaTicket.Pages.Cinemas.CreateModel


@{
    ViewData["Title"] = "Create";
}

<style>
    /* CSS pour le style souhaité */
    .container-form {
        font-family: Verdana;
        font-weight: bold;
        color: black;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .form-container {
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .form-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .label {
        flex-basis: 25%;
        text-align: right;
        padding-right: 10px;
    }

    .input {
        flex-basis: 70%;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
       
    }

    .button {
        margin-right: 20px;
        
    }
</style>

<div class="container-form">
    <h1 style="text-align:center;">Ajouter Cinéma</h1>

    <div class="form-container">
    <form method="post">
    <div class="form-group">
        <span class="label">Nom</span>
        <input asp-for="Cinema.Nom" class="input" />
    </div>

    <div class="form-group">
        <span class="label">Adresse</span>
        <div class="input" >
            <input asp-for="Cinema.Num_rue" placeholder="Numéro de rue" />
            <input asp-for="Cinema.Rue" placeholder="Rue" />
            <input asp-for="Cinema.Comp_Adresse" placeholder="Complément d'adresse" />
            <input asp-for="Cinema.Code_Postal" placeholder="Code Postal" style="margin-top:10px;"/>
            <input asp-for="Cinema.Ville" placeholder="Ville" style="margin-top:10px;" />
            
        </div>
    </div>

    <div class="form-group">
        <span class="label">SIRET</span>
        <input asp-for="Cinema.SIRET" class="input" />
    </div>

    <div class="form-group">
        <span class="label">RIB</span>
        <input asp-for="Cinema.RIB" class="input" />
    </div>


    <div class="button-container">
        <input type="submit" value="Enregistrer" class="button btn btn-primary" style="background-color: #D8B602;" />
        <a asp-page="Index" class="button btn btn-secondary">Annuler</a>
    </div>
    </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
